<script type="application/ld+json">
    {"@context":"https:\/\/schema.org",
    "@type":"WebSite",
    "url":"https:\/\/www.postindianews.com",
    "name":"PostIndiaNews",
    </script>

<script type="application/ld+json">
        {"@context": "https://schema.org", 
        "@type": "Organization", 
        "name": "PostIndiaNews", 
        "url": "https://www.postindianews.com/", 
        "logo": "https://postindianews.com/static/images/logo.svg"
        } 
        </script>

<script type="application/ld+json">
                {
                "@context":"https://schema.org",
                "@type": "WebPage",
                "inLanguage"      :"English",
                "name"            :"PostIndiaNews.com - Get Latest News, India News, Breaking News, Today's News",
                "description"     :"PostIndiaNews.com provides latest news from India and around the world. Get breaking news alerts from India and follow today’s live news updates in field of politics, business, technology, Bollywood, cricket and many more.",
                "keywords"        :"PostIndiaNews, PostIndiaNews Live, news, English news, India news, breaking news, business news, Bollywood news, cricket news, world news, Latest News, Breaking and Latest news, online news, English News channel, News channels",
                "mainEntityOfPage":"https://www.postindianews.com/",
                "url"             :"https://www.postindianews.com/",
                "publisher": {
                                "@type":"Organization",
                                "url":"https://www.postindianews.com/",
                                "name":"PostIndiaNews",
                                "logo":{
                                                "@type":"ImageObject",
                                                "url":"https://postindianews.com/static/images/logo.svg",
                                                "name":"PostIndiaNews"
                                }
                }
                }
                </script>

<title>
	Get Latest News, India News, Breaking News, Today's News - PostIndiaNews.com
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="en" />
<meta name="description"
	content="PostIndiaNews.com provides latest news from India and around the world. Get breaking news alerts from India and follow today’s live news updates in field of politics, business, technology, Bollywood, cricket and more." />
<meta name="keywords"
	content="PostIndiaNews, PostIndiaNews Live, news, English news, India news, breaking news, business news, Bollywood news, cricket news, world news, Latest News, Breaking and Latest news, online news, English News channel, News channels" />
<meta property="category" content="News" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta property="og:title" content="PostIndiaNews.com" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://postindianews.com/static/images/logo.svg" />
<meta property="og:url" content="https://www.postindianews.com" />
<meta property="og:site_name" content="www.postindianews.com" />
<meta property="og:description" content="PostIndiaNews.com: Breaking News, Business, Bollywood and Cricket" />
<link rel="canonical" href="https://www.postindianews.com" />
<link rel="sitemap" type="application/xml" title="PostIndiaNews Top Stories"
	href="https://www.postindianews.com/sitemap.xml" />
<link rel="preconnect" crossorigin="" href="https://www.google-analytics.com/" />


<!-- Above Is for index page only -->