<script type="application/ld+json">
    {"@context":"https:\/\/schema.org",
    "@type":"WebSite",
    "url":"https:\/\/www.postindianews.com",
    "name":"PostIndiaNews",
    </script>

<script type="application/ld+json">
        {"@context": "https://schema.org", 
        "@type": "Organization", 
        "name": "PostIndiaNews", 
        "url": "https://www.postindianews.com/", 
        "logo": "https://postindianews.com/static/images/logo.svg"
        } 
        </script>

<script type="application/ld+json">
                {
                "@context":"https://schema.org",
                "@type": "WebPage",
                "inLanguage"      :"English",
                "name"            :"PostIndiaNews.com - Get Latest News, India News, Breaking News, Today's News",
                "description"     :"PostIndiaNews.com provides latest news from India and around the world. Get breaking news alerts from India and follow today’s live news updates in field of politics, business, technology, Bollywood, cricket and many more.",
                "keywords"        :"PostIndiaNews, PostIndiaNews Live, news, English news, India news, breaking news, business news, Bollywood news, cricket news, world news, Latest News, Breaking and Latest news, online news, English News channel, News channels",
                "mainEntityOfPage":"https://www.postindianews.com/",
                "url"             :"https://www.postindianews.com/",
                "publisher": {
                                "@type":"Organization",
                                "url":"https://www.postindianews.com/",
                                "name":"PostIndiaNews",
                                "logo":{
                                                "@type":"ImageObject",
                                                "url":"https://postindianews.com/static/images/logo.svg",
                                                "name":"PostIndiaNews"
                                }
                }
                }
                </script>

<title>
	Get Latest News, India News, Breaking News, Today's News - PostIndiaNews.com
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="en" />
<meta name="description"
	content="PostIndiaNews.com provides latest news from India and around the world. Get breaking news alerts from India and follow today’s live news updates in field of politics, business, technology, Bollywood, cricket and more." />
<meta name="keywords"
	content="PostIndiaNews, PostIndiaNews Live, news, English news, India news, breaking news, business news, Bollywood news, cricket news, world news, Latest News, Breaking and Latest news, online news, English News channel, News channels" />
<meta property="category" content="News" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta property="og:title" content="PostIndiaNews.com" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://postindianews.com/static/images/logo.svg" />
<meta property="og:url" content="https://www.postindianews.com" />
<meta property="og:site_name" content="www.postindianews.com" />
<meta property="og:description" content="PostIndiaNews.com: Breaking News, Business, Bollywood and Cricket" />
<link rel="canonical" href="https://www.postindianews.com" />
<link rel="sitemap" type="application/xml" title="PostIndiaNews Top Stories"
	href="https://www.postindianews.com/sitemap.xml" />
<link rel="preconnect" crossorigin="" href="https://www.google-analytics.com/" />


<!-- ========================Above Is for index page only============================ -->


<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="article:tag" content="{{ post.meta_tag }}" />
	
	<meta name="keywords" content="{{ post.meta_tag }}" />
	<meta property="article:section" content="{{ post.category }}" />
	<meta name="author" content="{{ post.author.get_full_name }}" />
	<meta property="og:title" content="{{ post.title }}" />
	<meta name="description" content="{{ post.meta_desc }}" itemprop="description" />
	<meta property="og:description" content="{{ post.meta_desc }}" />
	<meta property="og:image" content="{{ post.image.url }}" />
	<meta property="og:image:alt" content="{{ post.img_text }}" />
	<meta property="og:article:published_date" content="{{ post.date }}" />
	<meta property="og:article:published_time" content="{{ post.time }}" />
	<link rel="canonical" href="https://www.postindianews.com/posts/{{ post.slug }}" />
	<meta name="url " property="og:url" content="https://www.postindianews.com/posts/{{ post.slug }}" itemprop="url" />
	<meta property="og:site_name" content="PostIndiaNews" />
	<meta property="article:publisher" content="PostIndiaNews" />
	<meta name="{{ post.category }}_keywords" content="{{ post.meta_tag }}"
		itemprop="keywords">
	<meta itemprop="name" content="{{ post.title }}">
	<meta property="og:image:secure_url" content="{{ post.image.url }}" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta property="taboola-category" content="{{ post.category }}" />
	<link rel="preconnect" crossorigin href="https://fonts.googleapis.com/" />
	<link rel="preconnect" crossorigin href="https://fonts.gstatic.com/" />
	<link rel="preconnect" crossorigin href="https://www.google-analytics.com/" />
	<link rel="preload" as="script" href="https://www.google-analytics.com/analytics.js" />
    <link itemprop="mainEntityOfPage"
		href="https://www.postindianews.com/posts/{{ post.slug }}" />

	<script type="application/ld+json">
		{
			"@context": "http://schema.org/",
			"@type": "WebPage",
			"name": "{{ post.title }}",
			"description": "{{ post.meta_desc }}",
			"keywords": "{{ post.meta_tag }}",
			"url": "https://www.postindianews.com/posts/{{ post.slug }}",
			"publisher":{
				"@type": "Organization",
				"name": "PostIndiaNews",
				"url": "https://www.postindianews.com"}
			}
	</script>
		
	
		<!-- Above is for post -->

	



	
	
	

	